/*

Project:  GBCC Web Dev I Class project
Filename: styles.css

*/

* {
    font-family: cursive, fantasy, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    /* orig 
    --hfbgColor: lightblue;
    --highlightColor: wheat;
    --companyLinkColor: blue;
    */


    --footercolor: black;
    --bodybgcolor: white;
    --bodyfontcolor: grey;

    /* background colors */
    --stdBGDesktop1: lightBlue;
    --stdBGDesktop2: wheat;
    --stdBGTablet: grey;
    --landscapeBG: aqua;
    --landscapeFG: brown;
    --hfbgColor: lightblue;
    --highlightColor: wheat;
    --companyLinkColor: blue;

}

body {
    background: var(--bodybgcolor);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.06);
    color: black;
    margin: 0 auto;
    padding: 2em 2em 4em;


    /*    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-size: 16px;
*/
    /* this needs to change */
    /*
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
*/
}

button.inlinestyle {
    display: inline;
}

header {
    margin-top: 0px;
    padding: .25rem;


    /* padding: 15px; */
    width: 100%;
    height: calc(1.5rem + 1.3vw);
    /*height: 20pt;*/
    position: fixed;
    /* flagged as an error... BUT, using the actual color is not flagged for an error... */
    background: linear-gradient(blue, var(--hfbgColor));
    top: 0;
}

html {
    font-size: 1em;
}

img {
    width: 75%;
    height: auto;
}

table,
tr {
    border: 1px solid black;
    line-height: 2;
    padding-left: 10px;
    width: 85%;
}

table,
td {
    border: 1px solid black;
    padding-left: 5px;
}

section {
    /*border-top: 2px inset black;*/
    float: none;
    /*margin-top: 5px;
    padding-top: 2px; */
}

span.highlight {
    text-shadow: 0 0 3px red, 0 0 6px purple;
}

span.highlight:hover {
    text-shadow: none;
    /*    text-emphasis: strong; */
}

.company {
    color: var(--companyLinkColor);
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    padding-left: .75em;
    padding-right: .75em;
}

.footerstyle {
    background: linear-gradient(lightblue, blue);
    bottom: 0;
    color: black;
    font-size: .5rem;
    margin: auto;
    position: fixed;
    text-align: center;
    width: 100%;
}

.fleft {
    float: left;
    width: 50%
}

.finnerleft {
    float: left;
    width: 40%
}

.fright {
    border-left: 2px outset black;
    float: right;
    padding-left: 3px;
    width: 45%
}

.finnerright {
    border-left: 2px outset black;
    float: right;
    width: 45%
}

.jobdescription {
    font-size: 10pt;
    line-height: 1.3;
    padding-left: 20px;
}

.hiddenjobdesciption {
    display: none;
    font-size: 10pt;
    line-height: 1.3;
    padding-left: 20px;
}

.hiddenimage {

    display: none;
}

.jobdescription:hover + .hiddenjobdesciption {
    display: block;
}

.navbar {
    border: .25em outset green;
    background-color: lightblue;
    border-radius: .5rem;
    /* border-radius: 15px; */
    /* rounded corners */
    font-size: 1em;
    margin-top: .2em;
    padding: .1rem;
    /* padding: .3em; */
    text-decoration-color: beige;
}

.navbar:hover {
    background-color: wheat;
}

.resumeHL:hover {
    /* High level items on the resume will have a visual hint that they are clickable */
    background-color: var(--highlightColor);
}

.strongli {
    font-weight: bold
}

.tableh1 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    padding-left: 30px;
}

.techicons {
    max-width: 100px;
}

.title {
    color: #222;
    font-size: 12pt;
    font-weight: 600;
    line-height: 1.3;
    padding-left: 10px;
    padding-right: 30px;
}

.zest:hover {
    display: inline;
    /* font: serif; */
    font-size: 18pt;
    text-emphasis: double-circle;

    color: forestgreen;
}


/* Added */

.fadeinout {
    animation-name: fadein-out;
    animation-duration: 5s;
    animation-iteration-count: 1;
}


@keyframes fadein-out {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}



@media only screen and (min-width: 580px) {

    /* First breakpoint for tablet view */
    main {
        /* need to keep some leading when scaling the font size */
        line-height: calc(1.5rem + 1vw);
    }

    body {
        background: var(--stdBGTablet);
        font-size: calc(1rem + 2vw);

    }

    footer {
        font-size: calc(.25rem + .5vw);
        color: var(--footercolor);
    }
}

@media only screen and (min-width: 640px) and (orientation: landscape) {

    /* breakpoint for mobile phone in landscape mode */
    body {
        font-size: calc(1rem + 1.5vw);
        line-height: calc(1.5rem + 2vw);
        background-color: var(--landscapeBG);
        color: var(--landscapeFG);
    }

    footer {
        font-size: calc(.25rem + .5vw);
        color: var(--footercolor);
    }
}


@media only screen and (min-width: 1024px) {

    /* Second breakpoint for desktop view */
    body {
        font-size: calc(1rem + 1.75vw);
        line-height: calc(1.5rem + 2vw);
        background: var(--stdBGDesktop2);
    }

    footer {
        font-size: calc(.25rem + .5vw);
        color: var(--footercolor);
    }
}
